* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inspiration", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Urbanist", sans-serif;
  font-family: "Hind Siliguri", sans-serif;
}

.navHeader {
  padding: 0.4rem 2rem;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  z-index: 2 !important;
}
nav {
  display: none;
}
.bars {
  background: rgba(0, 0, 0, 0.8) url('/assets/imgs/Vector.svg') no-repeat center;
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  width: 35px;
  height: 35px;
}
.navHeader li {
  display: inline-block;
}
.navHeader a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}
.active {
  background-color: #003f4e;
  height:73px;
  color: #61e0ff !important;
}

.active:hover {
  color: #003f4e !important;
  background: #d9d9d9;
  transition: all 0.9s ease-in-out;
}
.text-effect {
  display: flex;
  flex-direction: column;
}
.banner {
  background: url("/assets/imgs/Rectangle\ 62.svg"),
    url("/assets/imgs/banner.png") top center no-repeat;
  background-size: cover;
  object-fit: fill;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding:0 1rem;
  height: 500px;
}

.banner .span {
color: black; font-size: 30px; cursor: pointer; background: rgba(0, 0, 0, 0.3);
padding: 6px;
width:fit-content;
height:fit-content;
display: none;
align-items: center;
justify-content: center;
border-radius: 50%;
}

.banner .span:hover {
  color: #fff;
  background: #000;
  transition: all 0.5s ease;
  }

.banner h1 {
  font-weight: 700, bold;
  font-size: 60px;
  line-height: 70px;
  color: #33d8a6;
}
.banner .welcome {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.banner h3 {
  text-align: left;
}
.text--dynamic {
 text-transform: uppercase;
 transition: all 0.5s ease;
}

.abtbanner {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("/assets/imgs/abtbanner.png") no-repeat center;
  height: 80vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  padding-left: 1rem;
}



.abtdesc {
  margin: 4rem 1rem;
}

.abtdesc p {
  font: 2rem;
  line-height: 2.5rem;
}

.abtdesc aside {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  width: auto;
}

.abtdesc img {
  height: 20%;
  width: 20%;
  padding: 1rem;
  background: #ccc;
  border-radius: 50%;
  margin: 0 1rem;
}

.team_members aside {
  display: flex;
  padding-left: 0;
}

.team_members img {
  background: transparent;
  width: 25%;
  height: 10vh;
}

.aside_p {
  width: 100%;
}

.values {
  background: linear-gradient(272.58deg, #1030a2 -3.47%, #51077e 95.21%);
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}

.value_items {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
  flex-wrap: wrap;
}

.unique {
  text-align: center;
  margin: 50px 0;
}

.unique_list {
  list-style: url("/assets/img/tick.png");
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2rem;
  justify-content: space-around;
}

.unique_list li {
  line-height: 50px;
}

.team {
  text-align: center;
  margin: 5rem 1rem;
}

.product_section {
  padding: 5rem 1rem;
}

.imgvector img {
  width: 90%;
  display: inline-block;
  margin: -15vh 0 -9vh 10%;
}

.imgvector2 img {
  width: 65%;
  display: inline-block;
  margin: -7vh 0 -6vh 10%;
}

.services_page {
  padding: 5rem 0;
}

.services_page div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.services_page img {
  width: 100%;
}

.services_page article:nth-child(even) {
  padding-left: 0;
}

.services_page article:nth-child(odd) {
  padding-right: 0;
  order: 1;
  -ms-flex-order: 1;
}

.services_page div img {
  width: 100%;
}


/*  */

section a {
  background-color: #1e1e1e;
  color: #d9d9d9;
  padding: 0.4rem 1rem;
  text-decoration: none;
  font: 500 14px;
  border: none;
}
section a:hover {
  color: #1e1e1e;
  background-color: #d9d9d9;
  transition: all 0.9s ease;
}
.services {
  background: url("/assets/imgs/Ellipse5.svg") no-repeat center 100px;
  background-size: 35vw;
  object-fit: fill;
  padding: 1rem;
}

.services .content {
  padding: 2rem 0;
}

.services .content h4 {
  text-align: left;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 1px;
}

.product > h4, .services > h4 {
  color: #07048E;
}
.wrapper2 img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.services p {
  padding: 0.5rem 0;
  color: #403f3f;
  font-size: 14px;
  line-height: 17px;
}

.services > a {
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.services h2,
h4 {
  text-align: center;
}

.services .wrapper {
  display: flex;
  flex-direction: column;
  margin: 10vh 0;
}
.services .wrapper2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.services li {
  list-style-image: url("/assets/imgs/tick.svg");
  line-height: 50px;
  list-style-position: inside;
  vertical-align: Top;
}

.andel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4rem 1rem;
}

.andel p {
  padding-bottom: 4vh;
}

.img img {
  object-fit: fill;
  width:100%;
  height: 70vh;
}

.partners {
  text-align: center;
}

.partners h2 {
  padding: 3rem 0 0 0;
}

.partners div {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partners img {
  padding: 3rem;
}

.product {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 2rem 0;
}
.product .wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.product .content {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  /* align-items: center; */
}
.product .content h2 {
  text-align: left;
}

.product img {
  width: 50%;
  /* padding: 1rem; */
}

.help {
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  flex-direction: column;
  height: 40vh;
}

.help div p {
  padding: 1rem 0 3rem 0;
}
.help a {
  background: #003F4E;
}
.help div {
  text-align: center;
  position: absolute;
}
footer input,
textarea {
  color: #f7f7f7;
  display: block;
  padding: 0.3rem 1rem !important;
  margin: 0.9rem 0;
  width: 100%;
  background: rgba(196, 196, 196, 0.09);
  border: 0.1px solid #f7f7fc;
  border-radius: 4px;
}
input[type='tel'] {
background: url('/assets/imgs/tel.svg') no-repeat 5px center;
background-size: 18px;
text-indent: 15px;
}
input[type='email'] {
  background: url('/assets/imgs/mail.svg') no-repeat 5px center;
  background-size: 18px;
  text-indent: 15px;
  }
  .info {
    background: url('/assets/imgs/info.svg  ') no-repeat 5px center;
    background-size: 18px;
    text-indent: 15px;
    }
.user {
  background: url('/assets/imgs/user.svg') no-repeat 5px center;
  background-size: 18px;
  text-indent: 15px;
}
.form {
  width: 100%;
}
textarea {
  height: 100px;
}
input[type="submit"] {
  background: #007cc5;
  border-radius: 0;
  border: none;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

input[type='submit']:hover {
background: #fff;
color: #007cc5;
transition: all 0.9s ease;
cursor: pointer;
}

.addr{
display: flex;
margin-bottom: 2rem;
}
.tel, .mail {
  display: flex;
  align-items: center;
}

footer h3 {margin-bottom: 3rem;}

.addr .span {color: #007cc5; font-size: 24px; margin-right: 0.5rem;}
footer {
  background-color: #000;
  color: #fff;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .banner {
    padding:0 3rem;
  }
  .banner .span {
    display: flex;
  }
nav {
  display: inline-block;
}
.navHeader {
  width: 100%;
  padding: 0 2rem;
}

.banner .welcome{
  flex-direction: row;
  align-items: center;
}
.banner a {
  background: #003F4E;
  display: inline-block;
  margin-top: 2rem;
}
.andel {
  flex-direction: row;
  padding: 4rem 6rem;
}
.bars {
  display: none;
}
.services {
  padding: 4rem;
}
.services .wrapper {
  flex-direction: row;
}
.services .wrapper2 {
  flex-direction: row;
}

.wrapper2 img {
  width: 20vw;
  height: 25vh;
  object-fit: fill;
}
.services .content {
  padding: 0 2rem 1rem 1rem;
}
.img img {
  object-fit: fill;
  width: auto;
  height: 70vh;
}

.product .content {
  flex-direction: row;
}

.text-effect {
  flex-direction: row;
}

.partners div {
  padding: 2rem;
  flex-wrap: no-wrap;
}

.form {
  width: 35%;
}
footer input[type="submit"]{
  width: auto;
}
footer {
  flex-direction: row;
  padding: 4rem 8rem;
}
}
