* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Inspiration", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Urbanist", sans-serif;
}

.navHeader {
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
}
.navHeader li {
  display: inline-block;
}
.navHeader a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}
.active {
  background-color: #003f4e;
  color: #61e0ff !important;
}
.banner {
  background: url("/assets/imgs/Rectangle\ 62.svg"),
    url("/assets/imgs/banner.png") top center no-repeat;
  background-size: cover;
  object-fit: fill;
  display: flex;
  color: #fff;
  align-items: center;
  padding-left: 5rem;
  height: 500px;
}

.banner h1 {
  font-weight: 700, bold;
  font-size: 60px;
  line-height: 70px;
  color: #33d8a6;
}
.banner .welcome {
  display: flex;
  align-items: center;
}
.banner h3 {
  text-align: left;
}
section a {
  background-color: #1e1e1e;
  color: #d9d9d9;
  padding: 0.4rem 1rem;
  text-decoration: none;
  font: 500 14px;
  border: none;
}
.services {
  background: url("/assets/imgs/Ellipse5.svg") no-repeat center 100px;
  background-size: 35vw;
  object-fit: fill;
  padding: 4rem;
}

.services .content {
  padding: 0 2rem 1rem 1rem;
}

.wrapper2 img {
  width: 20vw;
  height: 25vh;
  object-fit: contain;
}

.services p {
  padding: 0.5rem 0;
  /* height: 18vh; */
  color: #403f3f;
  font-size: 14px;
  line-height: 17px;
}

.services > a {
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.services h2,
h4 {
  text-align: center;
}

.services .wrapper {
  display: flex;
  margin: 10vh 0;
}
.services .wrapper2 {
  display: flex;
  flex: 1;
}
.services li {
  list-style-image: url("/assets/imgs/tick.svg");
  line-height: 50px;
  list-style-position: inside;
  vertical-align: Top;
}

.andel {
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
}

.andel p {
  padding-bottom: 4vh;
}

.img img {
  object-fit: fill;
  height: 70vh;
}

.partners {
  text-align: center;
}

.partners div {
  padding: 2rem 15rem;
  display: flex;
  justify-content: space-evenly;
}
.product {
  text-align: center;
  padding: 2rem 0;
}
.product .wrapper {
  display: flex;
}

.product .content {
  display: flex;
  align-items: center;
}
.product .content h2 {
  text-align: left;
}

.product img {
  width: 50%;
  padding: 1rem;
}

.help {
  background: rgba(0, 0, 0, 1) url("/assets/imgs/help.svg") no-repeat center;
  background-size: contain;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9d9d9;
  flex-direction: column;
}
.help a {
  background: #003f4e;
  margin-top: 3rem;
}
.help p {
  padding-top: 1rem;
}
footer input,
textarea {
  display: block;
  padding: 0.3rem 1rem;
  margin: 0.4rem 0;
  width: 100%;
  background: rgba(196, 196, 196, 0.09);
  border: 0.1px solid #f7f7fc;
  border-radius: 4px;
  color: #fefffc;
}

textarea {
  height: 100px;
}
input[type="submit"] {
  background: #007cc5;
  border-radius: 0;
  border: none;
  width: auto;
}

.address {
  flex: 1;
}
form {
  flex: 1;
}

footer i {
  color: #007cc5;
  padding: 0.3rem 0.5rem;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 4rem 5rem 8rem 5rem;
  display: flex;
  justify-content: space-between;
}
